.profile-header {
  height: 400px;
  margin-top: 2em;
  margin-right: 2em;
  background-color: #b86e00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.profile-header img {
  width: 100%;
  height: auto;
}

.profile-header h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #9edbd4;
}
