header {
  height: 400px;
  width: 100%;
  background-color: #b86e00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
header .image-container {
  padding-top: 220px;
} */

h2 {
  margin-top: 0;
}
