nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > div{
  margin: 0 1.5em;
  display: flex;
  flex-direction: column;
}
nav > div > i {
  color: red;
  text-align: center;
}
nav .logo {
  font-family: "Bungee", sans-serif;
}