.new-tweet {
  padding: 2.5% 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1%;
}
#tweet-form textarea {
  font-weight: 600;
  border: none;
  resize: none;
  background-color: #f4f1ec;
  border-bottom: 5px solid #545149;
}
#tweet-form textarea:focus{
  outline: none;
}
.over-limit {
  color: red;
}
#tweet-form > div {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}
#tweet-form > div > .counter {
  padding-right: 0.5em;
}
.form-button {
  padding: .5%;
  background-color: #4056A1;
  border: 2px solid #FFF;
  color: #ddebe0;
  transition: border 0.2s;
}
.form-button:hover {
  cursor: pointer;
  background-color: lightseagreen;
  border: 2px solid #4056A1;
}
.error-message {
  height: 1.5em;
  text-align: center;
  color: #FFF;
  padding: 0.2em;
  margin-bottom: 0.5em;
  width: 100%;
}
.error-message > span {
  padding: 0.2em 2em;
  margin-bottom: 0.5em;
  width: 100%;
  background-color:#ff0033;
}
