#tweets-container {
  margin-top: 1.3em;
  width: 100%;
}

article.tweet {
  border: 5px solid #545149;
  margin: 2% 0;
  padding: 2% 2%;
}

article.tweet:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

article.tweet  header {
  background-color:#f4f1ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article.tweet header > div:nth-child(2) {
  opacity: 0.5;
}

article.tweet p {
  margin-bottom: 0.3em;
  padding: 1.3em 0.5em;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 5px solid #545149;
  overflow: hidden;
  word-wrap: break-word;
}

article.tweet header img {
  max-width: 80px;
  padding-right: 0.5em;
}

article.tweet header span {
  font-size: 1.3rem;
}


article.tweet footer {
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em; 
}

article footer div:nth-child(2) > i {
  padding: 0 .2em;
}
article footer > div:nth-child(2) > i:hover {
  color: goldenrod;
  cursor: pointer;
}